[extractors]
jinja2 = jinja2.ext.babel_extract
[jinja2: **/content/**.html]
encoding = utf-8
ignore_tags = script,style
newstyle_gettext = True
silent = False
[jinja2: **/layout/*.j2]
encoding = utf-8
ignore_tags = script,style
newstyle_gettext = True
silent = False